{% load staticfiles i18n cms_tags sekizai_tags menu_tags thumbnail %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="{% page_attribute 'meta_description' %}"
    />
    <meta name="author" content="" />

    <title>
      {% block title %} {% page_attribute "page_title" %} - {{ request.site.name
      }} {% endblock title %}
    </title>
     {% if request.toolbar %}
    <!-- Bootstrap core CSS -->
    {% include 'head.html' %}
    {% endif %} {% render_block "css" %} {{ ALDRYN_SNAKE.render_head }}
  </head>

  <body>
    {% cms_toolbar %}
   
<div id="main">
 
    
    <div id="navbar">
      <div class="container">
      <ul class="list-inline">
      {% show_menu 0 100 100 100 "includes/menu.html" %}
      </ul>
      <div>
      <div class="row">
      <div class="col-md-8"></div>
        <div class="col-md-1">
          {% placeholder "flag" %}
        </div>  
        <div class="col-md-3">
        <span style="font-size:20px;cursor:pointer; color:red" onclick="openNav()">&#9776; Call For Help</span>
        </div>
        </div>
      </div>
      </div>  
    </div>
    {% block header %}
    <header  class="masthead"  style="background-image: url('{% with image=request.current_page.pagefieldextension.background_image %}{% if image %}{% thumbnail image 1200x400 crop subject_location=image.subject_location %}{% else %}{% endif %}{% endwith %}')">
    {% comment %} <div class="overlay"></div> {% endcomment %}
      {% render_model_block request.current_page.pagefieldextension %}
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                 <h1>{% render_model request.current_page "page_title" %}</h1>
                  {% if request.current_page.pagefieldextension.subtitle %}
                      <hr class="small">
                      <span class="subheading">
                          {{ request.current_page.pagefieldextension.subtitle }}
                      </span>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
         </header>
    {% endrender_model_block %}
    
 {% endblock %}
   

    <!-- Page Header -->
    <!-- Main Content -->
    <div class="container" style="border-style: solid; border-width: 1px 1px 0 1px; border-color: #ddd;">
      <div class="row" style="margin: 30px 0 30px 0">
        <div class="col-md-9" style="border-style: solid; border-width: 0 1px 0 0; border-color: #ddd;">
        {% placeholder "header" %}
            {% block content %} {% placeholder "content" %} {% endblock %}
          </div>
          <div class="col-md-3">
            {% static_placeholder "right_content" %} 
          </div>
      </div>
    </div>
    <!-- Footer -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              {% static_placeholder "footer" %}
            <p class="copyright text-muted">
              Copyright &copy; {{ request.site.name }} {% now "Y" %}
            </p>
          </div>
        </div>
      </div>
    </footer>
</div>    
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="container" style="background-color: #fff;">
   {% static_placeholder "report_violation" %}
  </div> 
</div>
    <!-- Bootstrap core JavaScript -->
    {% include 'scripts.html' %}
    {% render_block "js" %}
  </body>
</html>
